<server description="client service">

    <featureManager>
        <platform>jakartaee-10.0</platform>
        <!-- tag::features[] -->
        <feature>restfulWS</feature>
        <feature>websocket</feature>
        <feature>enterpriseBeansLite</feature>
        <!-- end::features[] -->
    </featureManager>

    <variable name="http.port" defaultValue="9080"/>
    <variable name="https.port" defaultValue="9443"/>

    <httpEndpoint
        host="*"
        httpPort="${http.port}"
        httpsPort="${https.port}"
        id="defaultHttpEndpoint"
    />

    <webApplication location="guide-jakarta-websocket-client.war" contextRoot="/"/>

    <logging consoleLogLevel="INFO"/>

</server>
